{{define "storylist"}}
    {{if .Stories}}
        {{range .Stories}}
            <div>
                <p>{{.Story.Title}}</p>
                <a href={{.Story.Link}}>{{.Story.Link}}</a>
                <p>{{.Story.SubmitDateTime}}</p>
                <p>{{.Story.SubmitBy}}</p>
                <a href="/edit/{{.Story.Thread}}">edit</a>
                <a href="/delete/{{.Story.Thread}}">delete</a>
                <p>----------------------------------------------------</p>
            </div>
        {{end}}
    {{else}}
        <p>Nothing here! You have reached the end of the internet...</p>
    {{end}}

    {{if .BeforeLink}}
        <div>
            <a href="/?before={{.BeforeLink}}">Prev</a>
        </div>
    {{end}}

    {{if .AfterLink}}
        <div>
            <a href="/?after={{.AfterLink}}">Next</a>
        </div>
    {{end}}
{{end}}
