types,pointers,structs/.idea/.name
types,pointers,structs/.idea/encodings.xml
types,pointers,structs/.idea/misc.xml
types,pointers,structs/.idea/modules.xml
types,pointers,structs/.idea/scopes/scope_settings.xml
types,pointers,structs/.idea/types,pointers,structs.iml
types,pointers,structs/.idea/vcs.xml
types,pointers,structs/.idea/workspace.xml